[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
python-dotenv = "*"
email-validator = "*"
psycopg2 = "*"
databases = "*"
asyncpg = "*"
python-multipart = "*"
tortoise = "*"
tortoise-orm = "*"
loguru = "*"
pytest = "*"
requests = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
